[submodule "frontend"]
	path = frontend
	url = https://github.com/Glory135/multi-language-translator.git
[submodule "backend"]
	path = backend
	url = https://github.com/CharlesEdeki/multi_translator_backend.git
